
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.super-box{
    height: 100vh;
    display: flex;
}
.box1{
  
    height: 100%;
    width: 10%;
  
    background: #C9231B;
}
.box2{
    
    width: 87%;
    height: 90vh;
    margin-top: 91px;
}
.encabezado{
   
    height: 80px;
    display: flex;
   
}
.titulo{
    
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo h1{
    font-family: 'Inter', sans-serif;
  
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;

/* identical to box height, or 133% */
letter-spacing: -0.05em;

color: #000000;
}
.boton-header{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-header button{
    width: 256px;
    height: 50px;
    padding: 12px;
     border-radius: 20px;
    background: #CC2233;
    color: white;
    border: none;
    font-size: 18px;
}
.buscar-usuario{
   
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
}
.buscar-usuario span{
    border: 1px solid;
    border-radius: 50px;
    width: 20px;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
}
.buscar-usuario input{
    background: #F3F6FB;
    border: 1px solid #000000;
    border-radius: 20px;
    width: 450px;
    height: 50px;

}
.buscar-usuario h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
}
.tabla{

    width: 1100px;
    margin: 50px auto;
    height: 74%;
  
    
}
.sub-tabla{
   
    list-style: none;
    display: flex;
    justify-content: center;
    
}
.sub-tabla li{
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
  
    background: #F3F6FB;

}
.area{
 
    height: 528px;
    width: 250px;
}
.area div{
    display: flex;
    flex-direction: column;
   
}
.Docencia{
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.Tecnologia{
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.Marketing{
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.tabla-2{
    display: flex;
    
}
.contenido{
    display: flex;
    flex-direction: column;
    
}
.fila1{
    
    width: 900px;
   
    height: 175px;
    display: flex;
}
.fila2{

    width: 900px;
   
    height: 175px;
    display: flex;

}
.fila3{

    width: 900px;
    
    height: 175px;
    display: flex;

}
.fila1 div{
    width: 225px;
    display: flex;
    flex-direction: column;
    text-align: center;
   
    height: 100%;
    border: 1px solid;
}
.fila2 div{
    width: 225px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;

}
.fila3 div{
    width: 225px;
    display: flex;
    flex-direction: column;
    text-align: center;

    height: 100%;
}



   


